<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:s="http://typo3.org/ns/Innologi/StreamovationsVp/ViewHelpers">
	
<li class="speaker{extraClass}" data-speaker="{speaker.id}">
	<p class="header"><f:translate key="speaker_header" /></p>
	<f:image
		class="speaker-avatar"
		src="{s:file.exists(file: avatar, then: avatar, else: settings.imgDefault)}"
		height="{settings.imgHeight}"
		width="{settings.imgWidth}"
		alt="{speaker.firstname} {speaker.lastname}"
	/>
	<div class="speaker-data">{speaker.firstname} {speaker.lastname}</div>
</li>

</html>