<div class="topics">
	<p class="header"><f:translate key="topic_header" /></p>
	<f:if condition="{topics}">
	<f:then>
		<ol>
			<f:for each="{topics}" as="topic">
				<f:render partial="Video/TopicListItem" arguments="{topic:topic, isLiveStream:isLiveStream}" />
			</f:for>
		</ol>
	</f:then>
	<f:else>
		<f:if condition="{isLiveStream}">
			<ol class="template">
				<f:render partial="Video/TopicListItem" arguments="{topic:{id:'', title:'', description:''}, isLiveStream:isLiveStream, extraClass:' template'}" />
			</ol>
		</f:if>
	</f:else>
	</f:if>
	
	<f:if condition="{timeline}">
		<f:if condition="{isLiveStream}">
		<f:else>
			<script type="application/json" id="tx-streamovations-vp-topictimeline">
					{timeline -> f:format.raw()}
				</script>
		</f:else>
		</f:if>
	</f:if>
</div>