{namespace s=Innologi\StreamovationsVp\ViewHelpers}
<f:layout name="FullWidth" />

<!--
	@TODO make types of meetingdata optional
	@TODO replace the error message with proper error handling
	@TODO put stuff in partials
	@TODO language in llang
-->

<f:section name="main">

<f:if condition="{playlist}">
<f:then>
	<div id="tx-streamovations-vp-play" class="video-player"></div>
	
	<f:if condition="{settings.backPid}">
		<f:link.page
			title="Terug naar vorige pagina"
			class="back-link"
			pageUid="{settings.backPid}"
		>Terug</f:link.page>
	</f:if>
	
	<f:if condition="{meetingdata.topics}">
		<div class="topics">
			<p class="header">Agendapunten</p>
			<ol>
				<f:for each="{meetingdata.topics}" as="topic">
					<li class="topic"  data-topic="{topic.id}">
						<f:if condition="{isLiveStream}">
							<f:then><span class="topic-title">{topic.title}</span></f:then>
							<f:else>
								<a href="#" class="topic-link topic-title" title="Spring naar dit agendapunt in de video">{topic.title}</a>
							</f:else>
						</f:if>
						<span class="topic-description">{topic.description -> f:format.raw()}</span>
					</li>
				</f:for>
			</ol>
		</div>
	</f:if>
	
	<f:if condition="{meetingdata.speakers}">
		<div class="speakers">
			<ul>
				<f:for each="{meetingdata.speakers}" as="speaker">
					<li class="speaker" data-speaker="{speaker.id}">
						<p class="header">Spreker</p>
						<f:alias map="{speakerAvatar: '{settings.speakers.imgDir}{speaker.photo}'}">
							<f:image
								class="speaker-avatar"
								src="{s:file.exists(file: speakerAvatar, then: speakerAvatar, else: settings.speakers.imgDefault)}"
								height="{settings.speakers.imgHeight}"
								width="{settings.speakers.imgWidth}"
								alt="Speaker Profile Image"
							/>
						</f:alias>
						<div class="speaker-data">{speaker.firstname} {speaker.lastname}</div>
					</li>
				</f:for>
			</ul>
		</div>
	</f:if>
	
	<script type="application/json" id="tx-streamovations-vp-playerdata" data-hash="{hash}">
		{playlist -> f:format.raw()}
	</script>
	<f:if condition="{isLiveStream}">
		<f:else>
			<f:if condition="{meetingdata.topicTimeline}">
				<script type="application/json" id="tx-streamovations-vp-topictimeline">
					{meetingdata.topicTimeline -> f:format.raw()}
				</script>
			</f:if>
			<f:if condition="{meetingdata.speakerTimeline}">
				<script type="application/json" id="tx-streamovations-vp-speakertimeline">
					{meetingdata.speakerTimeline -> f:format.raw()}
				</script>
			</f:if>
		</f:else>
	</f:if>
	
</f:then>
<f:else>
	<p>No video-playlist found.</p>
</f:else>
</f:if>

</f:section>