<f:layout name="FullWidth" />

<f:section name="main">

<f:if condition="{playlist}">
<f:then>
	<f:if condition="{settings.topics.enable}">
		<f:render
			partial="Video/Topics"
			arguments="{uri:requestUri, topics:meetingdata.topics, timeline:meetingdata.topicTimeline, isLiveStream:isLiveStream}"
		/>
	</f:if>

	<div id="tx-streamovations-vp-play" class="video-player"></div>
	<script type="application/json" id="tx-streamovations-vp-playerdata" data-hash="{hash}">
		{playlist -> f:format.raw()}
	</script>
	
	<f:if condition="{backPid}">
		<f:render partial="General/BackLink" arguments="{pid: backPid}" />
	</f:if>
	
	<f:if condition="{settings.speakers.enable}">
		<f:render
			partial="Video/Speakers"
			arguments="{speakers:meetingdata.speakers, timeline:meetingdata.speakerTimeline, isLiveStream:isLiveStream, settings:settings.speakers}"
		/>
	</f:if>
	
</f:then>
<f:else>
	<p><f:translate key="no_stream" /></p>
</f:else>
</f:if>

</f:section>